AanUitflow.json
[{"id":"3878d0f467048e5c","type":"tab","label":"Aan Uit","disabled":false,"info":"","env":[]},{"id":"3a251e96beb9d39b","type":"inject","z":"3878d0f467048e5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Aan","payloadType":"str","x":210,"y":100,"wires":[["5ce3c3c9aebd8b6b"]]},{"id":"ab3d3a2cdc9a07d7","type":"debug","z":"3878d0f467048e5c","name":"Aan","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":100,"wires":[]},{"id":"310d8991ea82d60f","type":"inject","z":"3878d0f467048e5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Uit","payloadType":"str","x":210,"y":160,"wires":[["5ce3c3c9aebd8b6b"]]},{"id":"5ce3c3c9aebd8b6b","type":"switch","z":"3878d0f467048e5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Aan","vt":"str"},{"t":"eq","v":"Uit","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":140,"wires":[["ab3d3a2cdc9a07d7"],["e762198133df4999"]]},{"id":"e762198133df4999","type":"debug","z":"3878d0f467048e5c","name":"Uit","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":180,"wires":[]}]