buienradarflow.json
[{"id":"7cbb8f34.baba58","type":"tab","label":"Buienrader","disabled":false,"info":""},{"id":"fd8a9264.37b278","type":"function","z":"7cbb8f34.baba58","name":"Data naar IO","func":"var temp = msg.payload.buienradar.temperatuurGC;\nvar hum = msg.payload.buienradar.luchtvochtigheid;\nvar druk = msg.payload.buienradar.luchtdruk;\nvar tekst = msg.payload.buienradar.icoonzin;\nvar wind = msg.payload.buienradar.windrichting;\nvar ws = msg.payload.buienradar.windsnelheidMS;\nvar wst = msg.payload.buienradar.windstotenMS;\nvar regen=msg.payload.buienradar.regenMMPU;\nreturn[{payload:temp},{payload:hum},{payload:druk},{payload:tekst},{payload:wind},{payload:ws},{payload:wst},{payload:regen}];","outputs":8,"noerr":0,"x":270,"y":100,"wires":[["cbf6dcf2.4d49f"],["9abb825.b1a8d8"],["d73a80ed.020f1"],["155b94b2.869da3"],["83280cfb.39535"],["2fc8b4a7.938d1c"],["3179137b.2fda54"],["fd461128.56f158"]]},{"id":"155b94b2.869da3","type":"ui_text","z":"7cbb8f34.baba58","group":"65bcc10a.255c7","order":3,"width":0,"height":0,"name":"Weer","label":"Weer","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":160,"wires":[]},{"id":"9abb825.b1a8d8","type":"ui_gauge","z":"7cbb8f34.baba58","name":"Luchtvochtigheid","group":"65bcc10a.255c7","order":2,"width":"3","height":"2","gtype":"gage","title":"Luchtvochtigheid","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b11a03","#1fdc0a","#070efa"],"seg1":"","seg2":"","x":530,"y":80,"wires":[]},{"id":"cbf6dcf2.4d49f","type":"ui_gauge","z":"7cbb8f34.baba58","name":"Temperatuur","group":"65bcc10a.255c7","order":1,"width":"3","height":"2","gtype":"gage","title":"Temperatuur","label":"C","format":"{{value}}","min":"-20","max":"40","colors":["#0218b3","#12d32b","#fe1003"],"seg1":"","seg2":"","x":510,"y":40,"wires":[]},{"id":"d73a80ed.020f1","type":"ui_gauge","z":"7cbb8f34.baba58","name":"Luchtdruk","group":"65bcc10a.255c7","order":1,"width":"3","height":"2","gtype":"gage","title":"Luchtdruk","label":"Bar","format":"{{value}}","min":"950","max":"1050","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":120,"wires":[]},{"id":"83280cfb.39535","type":"ui_text","z":"7cbb8f34.baba58","group":"65bcc10a.255c7","order":3,"width":0,"height":0,"name":"Wind","label":"Windrichting","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":200,"wires":[]},{"id":"2fc8b4a7.938d1c","type":"ui_text","z":"7cbb8f34.baba58","group":"65bcc10a.255c7","order":3,"width":0,"height":0,"name":"Windsnelheid","label":"Windkracht","format":"{{msg.payload}} m/s","layout":"row-spread","x":520,"y":240,"wires":[]},{"id":"3179137b.2fda54","type":"ui_text","z":"7cbb8f34.baba58","group":"65bcc10a.255c7","order":3,"width":0,"height":0,"name":"Windstoot","label":"Windstoot","format":"{{msg.payload}} m/s","layout":"row-spread","x":500,"y":280,"wires":[]},{"id":"fd461128.56f158","type":"ui_text","z":"7cbb8f34.baba58","group":"65bcc10a.255c7","order":3,"width":0,"height":0,"name":"Regen","label":"Regen","format":"{{msg.payload}} mm/u","layout":"row-spread","x":490,"y":340,"wires":[]},{"id":"2c517379.da0304","type":"buienradar","z":"7cbb8f34.baba58","name":"Wijdenes","station":"6260","interval":"60000","forecast":false,"x":100,"y":100,"wires":[["fd8a9264.37b278"]]},{"id":"2c1a2760.a04fa8","type":"comment","z":"7cbb8f34.baba58","name":"BuienRadar Grafische interface","info":"","x":170,"y":220,"wires":[]},{"id":"65bcc10a.255c7","type":"ui_group","z":"","name":"Buienrader Wijdenes","tab":"fb966e24.75b73","order":1,"disp":true,"width":"5","collapse":true},{"id":"fb966e24.75b73","type":"ui_tab","z":"","name":"Weer","icon":"dashboard","disabled":false,"hidden":false}]