Covid19flow.json
[{"id":"63188193.62ff48","type":"tab","label":"Covid19_NL","disabled":false,"info":""},{"id":"d6ecff61.4213d","type":"inject","z":"63188193.62ff48","name":"Refresh timer","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":160,"wires":[["bf4840d1.a55768"]]},{"id":"bf4840d1.a55768","type":"http request","z":"63188193.62ff48","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://coronadashboard.rijksoverheid.nl/json/NL.json","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":240,"wires":[["b77f63bd.8951e8"]]},{"id":"b77f63bd.8951e8","type":"json","z":"63188193.62ff48","name":"","property":"payload","action":"","pretty":true,"x":150,"y":300,"wires":[["9e2e88f2.dcac3","40e622bd.3d54bc"]]},{"id":"9e2e88f2.dcac3","type":"function","z":"63188193.62ff48","name":"Split to interesting Covid-19 data","func":"var msg1 ={};\nvar msg2 ={};\nvar msg3 ={};\nvar msg4 ={};\nmsg1.payload = {\"command\":\"udevice\",\"idx\":2426,\"nvalue\":0,\"svalue\":msg.payload.intensive_care_lcps.last_value.beds_occupied_covid.toString()};\nmsg2.payload = {\"command\":\"udevice\",\"idx\":2427,\"nvalue\":0,\"svalue\":msg.payload.hospital_lcps.last_value.beds_occupied_covid.toString()};\nmsg3.payload = {\"command\":\"udevice\",\"idx\":2428,\"nvalue\":0,\"svalue\":msg.payload.tested_overall.last_value.infected.toString()};\nmsg4.payload = {\"command\":\"udevice\",\"idx\":2429,\"nvalue\":0,\"svalue\":msg.payload.reproduction.last_value.index_low.toString()};\nreturn [[msg1,msg2,msg3,msg4]]\n\n","outputs":1,"noerr":0,"x":240,"y":360,"wires":[["c96f43e1.b60c3","40e622bd.3d54bc"]]},{"id":"c96f43e1.b60c3","type":"mqtt out","z":"63188193.62ff48","name":"","topic":"domoticz/in","qos":"2","retain":"false","broker":"bd507d3a.85126","x":570,"y":360,"wires":[]},{"id":"4c1521d0.c0fb2","type":"comment","z":"63188193.62ff48","name":"Please open me for Sensor text information","info":"msg1 = Intensive care-opnames per dag\nAantal opnames per dag, gemiddeld over de afgelopen 3 dage\n\nmsg2 = Ziekenhuisopnames per dag\nAantal opnames per dag, gemiddeld over de afgelopen 3 dagen.\n\nmsg3 = Total infected People\n\nmsg4 = Reproductiegetal\nAantal mensen dat besmet wordt door één besmettelijke persoon.","x":270,"y":400,"wires":[]},{"id":"40e622bd.3d54bc","type":"debug","z":"63188193.62ff48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":280,"wires":[]},{"id":"bd507d3a.85126","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]