GoogleNotifier.json
[{"id":"f9ac4739.268dd8","type":"tab","label":"GoogleNotifier","disabled":false,"info":""},{"id":"78d382db.772bdc","type":"mqtt in","z":"f9ac4739.268dd8","name":"DomototiczBroker","topic":"domoticz/out","qos":"0","datatype":"auto","broker":"132d56f3.244e49","x":130,"y":120,"wires":[["3e0736a.2d0d9ca"]]},{"id":"3e0736a.2d0d9ca","type":"json","z":"f9ac4739.268dd8","name":"","property":"payload","action":"","pretty":false,"x":310,"y":120,"wires":[["8af9f331.7b0878"]]},{"id":"8af9f331.7b0878","type":"switch","z":"f9ac4739.268dd8","name":"Switch","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"Spare1","vt":"str"},{"t":"eq","v":"Lux_sensor_Joke","vt":"str"},{"t":"eq","v":"Wasmachine","vt":"str"},{"t":"eq","v":"Container","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":90,"y":200,"wires":[["cc32914b.4d988"],["7267883c.52a65"],["87755f80.72ee7"],["c1bb0555.e37bc"]]},{"id":"78a2091b.c7a74","type":"comment","z":"f9ac4739.268dd8","name":"Google Notifier to speak alarm messages","info":"","x":200,"y":60,"wires":[]},{"id":"87755f80.72ee7","type":"change","z":"f9ac4739.268dd8","name":"Play Ding Dong","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"host","pt":"msg","to":"192.168.1.68","tot":"str"},{"t":"set","p":"payload.media.url","pt":"msg","to":"http://192.168.1.155:8080/media/ns.mp3","tot":"str"},{"t":"set","p":"payload.type","pt":"msg","to":"MEDIA","tot":"str"},{"t":"set","p":"payload.media.contentType","pt":"msg","to":"audio/mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":260,"wires":[["cc117ee5.baf498","d84f42d5.994aa8"]]},{"id":"cc117ee5.baf498","type":"delay","z":"f9ac4739.268dd8","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":300,"wires":[["282f9a44.ffb07e"]]},{"id":"aa58b7ca.bb0708","type":"castv2-sender","z":"f9ac4739.268dd8","name":"Huiskamer","connection":"74b233f2.344a1c","x":970,"y":260,"wires":[["daa119.a24446e8"]]},{"id":"daa119.a24446e8","type":"change","z":"f9ac4739.268dd8","name":"Close","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"host","pt":"msg","to":"Huiskamer","tot":"str"},{"t":"set","p":"payload.type","pt":"msg","to":"CLOSE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":260,"wires":[[]]},{"id":"eccc64b0.da5c1","type":"change","z":"f9ac4739.268dd8","name":"Play Ding Dong","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"host","pt":"msg","to":"192.168.1.68","tot":"str"},{"t":"set","p":"payload.media.url","pt":"msg","to":"http://192.168.1.155:8080/media/ns.mp3","tot":"str"},{"t":"set","p":"payload.type","pt":"msg","to":"MEDIA","tot":"str"},{"t":"set","p":"payload.media.contentType","pt":"msg","to":"audio/mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":520,"wires":[["d84f42d5.994aa8"]]},{"id":"dab35194.964928","type":"delay","z":"f9ac4739.268dd8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":600,"wires":[["b3727323.96b5"]]},{"id":"7267883c.52a65","type":"switch","z":"f9ac4739.268dd8","name":"> 500 ?","property":"payload.svalue1","propertyType":"msg","rules":[{"t":"gt","v":"500","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":460,"wires":[["13c415e4.51b8e2"]]},{"id":"17114c88.73055b","type":"delay","z":"f9ac4739.268dd8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270,"y":380,"wires":[["e73316ab.c80bc8"]]},{"id":"e73316ab.c80bc8","type":"function","z":"f9ac4739.268dd8","name":"reset msg","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":380,"wires":[["13c415e4.51b8e2"]]},{"id":"13c415e4.51b8e2","type":"throttle","z":"f9ac4739.268dd8","name":"Max 3 per 30 min","throttleType":"block","timeLimit":"10","timeLimitType":"seconds","countLimit":"3","blockSize":"3","locked":false,"x":450,"y":460,"wires":[["17114c88.73055b","f06b41e0.75e118"]]},{"id":"cc32914b.4d988","type":"switch","z":"f9ac4739.268dd8","name":"Open/ Closed ?","property":"payload.nvalue1","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":760,"wires":[["df41a63.1b091d8"],["255f833f.e38eac"]]},{"id":"255f833f.e38eac","type":"delay","z":"f9ac4739.268dd8","name":"Max 20 sec open","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":800,"wires":[["60e7a109.20e028","7de5b884.9d549","a6aa3219.dac5e8"]]},{"id":"df41a63.1b091d8","type":"function","z":"f9ac4739.268dd8","name":"reset msg","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":740,"wires":[["255f833f.e38eac","7de5b884.9d549"]]},{"id":"60e7a109.20e028","type":"change","z":"f9ac4739.268dd8","name":"Play Ding Dong","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"host","pt":"msg","to":"192.168.1.68","tot":"str"},{"t":"set","p":"payload.media.url","pt":"msg","to":"http://192.168.1.155:8080/media/ns.mp3","tot":"str"},{"t":"set","p":"payload.type","pt":"msg","to":"MEDIA","tot":"str"},{"t":"set","p":"payload.media.contentType","pt":"msg","to":"audio/mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":840,"wires":[["d84f42d5.994aa8"]]},{"id":"a6aa3219.dac5e8","type":"delay","z":"f9ac4739.268dd8","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":880,"wires":[["a18ea30b.e8ac6"]]},{"id":"467bc0ad.bfc148","type":"comment","z":"f9ac4739.268dd8","name":"------------------------------------------------------------------------","info":"","x":390,"y":700,"wires":[]},{"id":"d8beb277.9644","type":"comment","z":"f9ac4739.268dd8","name":"------------------------------------------------------------------------","info":"","x":410,"y":340,"wires":[]},{"id":"2f3de0da.7b5398","type":"castv2-sender","z":"f9ac4739.268dd8","name":"Huiskamer 2","connection":"da1f0175.ac719","x":970,"y":340,"wires":[["51118bb3.fcd4b4"]]},{"id":"d84f42d5.994aa8","type":"switch","z":"f9ac4739.268dd8","name":"join","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":300,"wires":[["2f3de0da.7b5398","aa58b7ca.bb0708"]]},{"id":"51118bb3.fcd4b4","type":"change","z":"f9ac4739.268dd8","name":"Close","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"host","pt":"msg","to":"Huiskamer 2","tot":"str"},{"t":"set","p":"payload.type","pt":"msg","to":"CLOSE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":340,"wires":[[]]},{"id":"7de5b884.9d549","type":"delay","z":"f9ac4739.268dd8","name":"Repeat every 15 sec","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":760,"wires":[["255f833f.e38eac"]]},{"id":"20bfca98.71ae0e","type":"inject","z":"f9ac4739.268dd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":260,"wires":[["87755f80.72ee7"]]},{"id":"b288d0d5.22075","type":"function","z":"f9ac4739.268dd8","name":"tts ik vind controlics fantastisch","func":"return {\n    payload: {\n        type: \"TTS\",\n        text: \"Ik vind kontroliks Fantastisch!\",\n        speed: 5,\n        language: \"nl\"\n    }\n};\n","outputs":1,"noerr":0,"x":710,"y":220,"wires":[["aa58b7ca.bb0708"]]},{"id":"e6653655.c44f88","type":"change","z":"f9ac4739.268dd8","name":"Play Ding Dong","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"host","pt":"msg","to":"192.168.1.68","tot":"str"},{"t":"set","p":"payload.media.url","pt":"msg","to":"http://192.168.1.155:8080/media/ns.mp3","tot":"str"},{"t":"set","p":"payload.type","pt":"msg","to":"MEDIA","tot":"str"},{"t":"set","p":"payload.media.contentType","pt":"msg","to":"audio/mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":120,"wires":[["d84f42d5.994aa8","9aa0670e.e026a"]]},{"id":"9aa0670e.e026a","type":"delay","z":"f9ac4739.268dd8","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":160,"wires":[["b288d0d5.22075"]]},{"id":"ca799e53.5eda9","type":"inject","z":"f9ac4739.268dd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":60,"wires":[["e6653655.c44f88"]]},{"id":"4837c1c1.d0a608","type":"inject","z":"f9ac4739.268dd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":80,"wires":[["b288d0d5.22075"]]},{"id":"739b6ef9.f4dad","type":"comment","z":"f9ac4739.268dd8","name":"https://freetts.com/#ads","info":"","x":140,"y":20,"wires":[]},{"id":"282f9a44.ffb07e","type":"change","z":"f9ac4739.268dd8","name":"Play WasmachineKlaar","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"host","pt":"msg","to":"192.168.1.68","tot":"str"},{"t":"set","p":"payload.media.url","pt":"msg","to":"http://192.168.1.155:8080/media/ttswasmachineklaar.mp3","tot":"str"},{"t":"set","p":"payload.type","pt":"msg","to":"MEDIA","tot":"str"},{"t":"set","p":"payload.media.contentType","pt":"msg","to":"audio/mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":300,"wires":[["d84f42d5.994aa8"]]},{"id":"b3727323.96b5","type":"change","z":"f9ac4739.268dd8","name":"Play Zonnescherm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"host","pt":"msg","to":"192.168.1.68","tot":"str"},{"t":"set","p":"payload.media.url","pt":"msg","to":"http://192.168.1.155:8080/media/ttszonneschermjoke.mp3","tot":"str"},{"t":"set","p":"payload.type","pt":"msg","to":"MEDIA","tot":"str"},{"t":"set","p":"payload.media.contentType","pt":"msg","to":"audio/mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":600,"wires":[["d84f42d5.994aa8"]]},{"id":"a18ea30b.e8ac6","type":"change","z":"f9ac4739.268dd8","name":"Play Koelkast","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"host","pt":"msg","to":"192.168.1.68","tot":"str"},{"t":"set","p":"payload.media.url","pt":"msg","to":"http://192.168.1.155:8080/media/ttskoelkast.mp3","tot":"str"},{"t":"set","p":"payload.type","pt":"msg","to":"MEDIA","tot":"str"},{"t":"set","p":"payload.media.contentType","pt":"msg","to":"audio/mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":880,"wires":[["d84f42d5.994aa8"]]},{"id":"cd25d094.410438","type":"comment","z":"f9ac4739.268dd8","name":"Google ip 192.168.1.22   192.168.1.82","info":"GoogleHome Boven 192.168.1.22\nGoogleHome Beneden 192.168.1.82","x":950,"y":40,"wires":[]},{"id":"f06b41e0.75e118","type":"switch","z":"f9ac4739.268dd8","name":"Stop the Reset","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"reset","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":460,"wires":[["dab35194.964928","eccc64b0.da5c1"]]},{"id":"18816ebe.6cb7f9","type":"inject","z":"f9ac4739.268dd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":420,"wires":[["13c415e4.51b8e2"]]},{"id":"81706a40.04cb5","type":"inject","z":"f9ac4739.268dd8","name":"Reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":480,"wires":[["e73316ab.c80bc8"]]},{"id":"34b45fdf.d2bf","type":"inject","z":"f9ac4739.268dd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1000,"wires":[["2727fa2.15d5d86"]]},{"id":"2727fa2.15d5d86","type":"http request","z":"f9ac4739.268dd8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.155:8080/json.htm?type=devices&rid=1260","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":1000,"wires":[["f402ea3a.bff2c8"]]},{"id":"69110768.d385a","type":"comment","z":"f9ac4739.268dd8","name":"Grab garbage type","info":"","x":330,"y":960,"wires":[]},{"id":"f402ea3a.bff2c8","type":"json","z":"f9ac4739.268dd8","name":"","property":"payload","action":"","pretty":false,"x":490,"y":1000,"wires":[["f3477150.263168"]]},{"id":"bb5cb867.4a1698","type":"split","z":"f9ac4739.268dd8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":830,"y":1000,"wires":[["18fb91df.ff297e"]]},{"id":"f3477150.263168","type":"change","z":"f9ac4739.268dd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.result[0].Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1000,"wires":[["bb5cb867.4a1698"]]},{"id":"18fb91df.ff297e","type":"switch","z":"f9ac4739.268dd8","name":"route","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":270,"y":1080,"wires":[["dab00998.6c6fb"],[],[],[]]},{"id":"9cffc8bc.7c9f28","type":"function","z":"f9ac4739.268dd8","name":"tts afvaltype","func":"var day = msg.payload.day;\nvar dayno = msg.payload.dayno;\nvar month = msg.payload.month;\nvar content = msg.payload.content;\n\nreturn {\n    payload: {\n        type: \"TTS\",\n        text: day + \" \"+dayno+\" \"+month+\" moet de container van \"+content+ \" naar buiten\",\n        speed: 8,\n        language: \"nl\"\n    }\n};","outputs":1,"noerr":0,"x":770,"y":1460,"wires":[["d84f42d5.994aa8"]]},{"id":"5cfb2a18.059d44","type":"debug","z":"f9ac4739.268dd8","name":"Einde","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":640,"wires":[]},{"id":"dab00998.6c6fb","type":"function","z":"f9ac4739.268dd8","name":"Split and Detect","func":"var output = msg.payload.split(\"=\");\nvar date = output[0].split(\" \");\n\n\n\nmsg.payload = {\n    data: output,\n    cont: date,\n};\nreturn msg;\n\n","outputs":1,"noerr":0,"x":440,"y":1060,"wires":[["acb99d35.283f48"]]},{"id":"acb99d35.283f48","type":"switch","z":"f9ac4739.268dd8","name":"Days filter","property":"payload.cont[0]","propertyType":"msg","rules":[{"t":"eq","v":"ma","vt":"str"},{"t":"eq","v":"di","vt":"str"},{"t":"eq","v":"wo","vt":"str"},{"t":"eq","v":"do","vt":"str"},{"t":"eq","v":"vrij","vt":"str"},{"t":"eq","v":"za","vt":"str"},{"t":"eq","v":"zo","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":240,"y":1180,"wires":[["21e71d77.ce5fca"],["4b105278.349d34"],["f8920694.b237a8"],["8687de59.4b3ec8"],["7bf3bafb.a60cbc"],["ff0b5be.ad685a8"],["bd7ddee9.41ba98"]]},{"id":"644eb7d2.74d26","type":"debug","z":"f9ac4739.268dd8","name":"dinsdag","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":1260,"wires":[]},{"id":"4b105278.349d34","type":"change","z":"f9ac4739.268dd8","name":"Dinsdag","rules":[{"t":"set","p":"payload.day","pt":"msg","to":"dinsdag","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1160,"wires":[["b3081c6f.151c1"]]},{"id":"b3081c6f.151c1","type":"switch","z":"f9ac4739.268dd8","name":"Month filter","property":"payload.cont[2]","propertyType":"msg","rules":[{"t":"eq","v":"jan","vt":"str"},{"t":"eq","v":"feb","vt":"str"},{"t":"eq","v":"mar","vt":"str"},{"t":"eq","v":"apr","vt":"str"},{"t":"eq","v":"mei","vt":"str"},{"t":"eq","v":"jun","vt":"str"},{"t":"eq","v":"jul","vt":"str"},{"t":"eq","v":"aug","vt":"str"},{"t":"eq","v":"sep","vt":"str"},{"t":"eq","v":"okt","vt":"str"},{"t":"eq","v":"nov","vt":"str"},{"t":"eq","v":"dec","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":230,"y":1380,"wires":[["8300b747.18d9e8"],["2a668ec8.ef77fa"],["b5a6b93c.330e8"],["6673b6e9.478f6"],["63937779.741e98"],["8d8bcef9.16f97"],["7045618f.e7c748"],["65c4c078.730dd"],["da30a4ae.c199c8"],["314d47ca.946618"],["8de44711.ce0cc8"],["381a1440.0e109c"]]},{"id":"8300b747.18d9e8","type":"change","z":"f9ac4739.268dd8","name":"Januari","rules":[{"t":"set","p":"payload.month","pt":"msg","to":"Januari","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1320,"wires":[["1519ce52.4e79ea"]]},{"id":"1519ce52.4e79ea","type":"change","z":"f9ac4739.268dd8","name":"Dagnumber filter","rules":[{"t":"set","p":"payload.dayno","pt":"msg","to":"payload.cont[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1340,"wires":[["49fd95a4.37c694"]]},{"id":"49fd95a4.37c694","type":"change","z":"f9ac4739.268dd8","name":"Content filter","rules":[{"t":"set","p":"payload.content","pt":"msg","to":"payload.data[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1400,"wires":[["644eb7d2.74d26","9cffc8bc.7c9f28"]]},{"id":"c1bb0555.e37bc","type":"delay","z":"f9ac4739.268dd8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":960,"wires":[["2727fa2.15d5d86"]]},{"id":"21e71d77.ce5fca","type":"change","z":"f9ac4739.268dd8","name":"Maandag","rules":[{"t":"set","p":"payload.day","pt":"msg","to":"maandag","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1140,"wires":[["b3081c6f.151c1"]]},{"id":"f8920694.b237a8","type":"change","z":"f9ac4739.268dd8","name":"woensdag","rules":[{"t":"set","p":"payload.day","pt":"msg","to":"woensdag","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1180,"wires":[["b3081c6f.151c1"]]},{"id":"8687de59.4b3ec8","type":"change","z":"f9ac4739.268dd8","name":"donderdag","rules":[{"t":"set","p":"payload.day","pt":"msg","to":"donderdag","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1200,"wires":[["b3081c6f.151c1"]]},{"id":"7bf3bafb.a60cbc","type":"change","z":"f9ac4739.268dd8","name":"vrijdag","rules":[{"t":"set","p":"payload.day","pt":"msg","to":"vrijdag","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1220,"wires":[["b3081c6f.151c1"]]},{"id":"ff0b5be.ad685a8","type":"change","z":"f9ac4739.268dd8","name":"zaterdag","rules":[{"t":"set","p":"payload.day","pt":"msg","to":"zaterdag","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1240,"wires":[["b3081c6f.151c1"]]},{"id":"bd7ddee9.41ba98","type":"change","z":"f9ac4739.268dd8","name":"zondag","rules":[{"t":"set","p":"payload.day","pt":"msg","to":"zondag","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1260,"wires":[["b3081c6f.151c1"]]},{"id":"2a668ec8.ef77fa","type":"change","z":"f9ac4739.268dd8","name":"februari","rules":[{"t":"set","p":"payload.month","pt":"msg","to":"februari","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1340,"wires":[["1519ce52.4e79ea"]]},{"id":"b5a6b93c.330e8","type":"change","z":"f9ac4739.268dd8","name":"maart","rules":[{"t":"set","p":"payload.month","pt":"msg","to":"maart","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1360,"wires":[["1519ce52.4e79ea"]]},{"id":"6673b6e9.478f6","type":"change","z":"f9ac4739.268dd8","name":"april","rules":[{"t":"set","p":"payload.month","pt":"msg","to":"april","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1380,"wires":[["1519ce52.4e79ea"]]},{"id":"63937779.741e98","type":"change","z":"f9ac4739.268dd8","name":"mei","rules":[{"t":"set","p":"payload.month","pt":"msg","to":"mei","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1400,"wires":[["1519ce52.4e79ea"]]},{"id":"8d8bcef9.16f97","type":"change","z":"f9ac4739.268dd8","name":"juni","rules":[{"t":"set","p":"payload.month","pt":"msg","to":"juni","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1420,"wires":[["1519ce52.4e79ea"]]},{"id":"7045618f.e7c748","type":"change","z":"f9ac4739.268dd8","name":"juli","rules":[{"t":"set","p":"payload.month","pt":"msg","to":"juli","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1440,"wires":[["1519ce52.4e79ea"]]},{"id":"65c4c078.730dd","type":"change","z":"f9ac4739.268dd8","name":"augustus","rules":[{"t":"set","p":"payload.month","pt":"msg","to":"augustus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1460,"wires":[["1519ce52.4e79ea"]]},{"id":"da30a4ae.c199c8","type":"change","z":"f9ac4739.268dd8","name":"september","rules":[{"t":"set","p":"payload.month","pt":"msg","to":"september","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1480,"wires":[["1519ce52.4e79ea"]]},{"id":"314d47ca.946618","type":"change","z":"f9ac4739.268dd8","name":"oktober","rules":[{"t":"set","p":"payload.month","pt":"msg","to":"oktober","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1500,"wires":[["1519ce52.4e79ea"]]},{"id":"8de44711.ce0cc8","type":"change","z":"f9ac4739.268dd8","name":"november","rules":[{"t":"set","p":"payload.month","pt":"msg","to":"november","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1520,"wires":[["1519ce52.4e79ea"]]},{"id":"381a1440.0e109c","type":"change","z":"f9ac4739.268dd8","name":"december","rules":[{"t":"set","p":"payload.month","pt":"msg","to":"december","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1540,"wires":[["1519ce52.4e79ea"]]},{"id":"3e1a3b80.762d8c","type":"comment","z":"f9ac4739.268dd8","name":"{\"command\": \"getdeviceinfo\", \"idx\": 2450 }","info":"","x":740,"y":1160,"wires":[]},{"id":"132d56f3.244e49","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"74b233f2.344a1c","type":"castv2-connection","z":"","name":"","target":"Huiskamer","host":"192.168.1.22","port":"8009"},{"id":"da1f0175.ac719","type":"castv2-connection","z":"","name":"","target":"Huiskamer 2","host":"192.168.1.82","port":"8009"}]