OctoPTelegram.json
[{"id":"995e2760.b2fbd","type":"tab","label":"OctoPTelegram","disabled":false,"info":""},{"id":"faa0fb8f.f35b68","type":"mqtt in","z":"995e2760.b2fbd","name":"octoPrint Bed Temp","topic":"octoPrint/temperature/bed","qos":"0","datatype":"auto","broker":"23b20325.a7d1ec","x":130,"y":80,"wires":[["cd70f578.3bb5f8"]]},{"id":"b2528db5.6de038","type":"debug","z":"995e2760.b2fbd","name":"OctoPrint","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":20,"wires":[]},{"id":"edcf4425.dce97","type":"mqtt in","z":"995e2760.b2fbd","name":"","topic":"octoPrint/event/PrinterStateChanged","qos":"0","datatype":"auto","broker":"23b20325.a7d1ec","x":190,"y":380,"wires":[["4065e1d0.e1e208"]]},{"id":"17e5921c.3c9f8e","type":"debug","z":"995e2760.b2fbd","name":"PrinterState","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":520,"wires":[]},{"id":"472b605f.604288","type":"switch","z":"995e2760.b2fbd","name":"Switch State","property":"payload.state_id","propertyType":"msg","rules":[{"t":"eq","v":"PRINTING","vt":"str"},{"t":"eq","v":"STARTING","vt":"str"},{"t":"eq","v":"OPERATIONAL","vt":"str"},{"t":"eq","v":"FINISHING","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":350,"y":460,"wires":[["474163ed.bc6304"],["ef4e87fc.76c57"],[],["4f482ec6.981d"]]},{"id":"4065e1d0.e1e208","type":"json","z":"995e2760.b2fbd","name":"","property":"payload","action":"","pretty":false,"x":170,"y":460,"wires":[["17e5921c.3c9f8e","472b605f.604288"]]},{"id":"474163ed.bc6304","type":"telegrambot-notify","z":"995e2760.b2fbd","name":"Telegram Printer state Printing","bot":"","chatId":"12345678","message":"Printer state \"Printing\"","parseMode":"","x":590,"y":420,"wires":[]},{"id":"d7b9e5d.1e4af18","type":"switch","z":"995e2760.b2fbd","name":"Check current Temp","property":"payload.actual","propertyType":"msg","rules":[{"t":"lt","v":"30","vt":"num"},{"t":"gt","v":"35","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":80,"wires":[["74a48dfe.431d1c"],["9369237c.18f4d8"]]},{"id":"cd70f578.3bb5f8","type":"json","z":"995e2760.b2fbd","name":"","property":"payload","action":"","pretty":false,"x":300,"y":80,"wires":[["d7b9e5d.1e4af18","b2528db5.6de038"]]},{"id":"ef4e87fc.76c57","type":"telegrambot-notify","z":"995e2760.b2fbd","name":"Telegram Printer state Starting","bot":"","chatId":"12345678","message":"Printer state \"Starting\"","parseMode":"","x":590,"y":480,"wires":[]},{"id":"4514ac70.28a364","type":"telegrambot-notify","z":"995e2760.b2fbd","name":"Telegram Printer Temp lower that 40","bot":"","chatId":"12345678","message":"Printer state \"Temp lower that 40\"","parseMode":"","x":610,"y":280,"wires":[]},{"id":"4f482ec6.981d","type":"telegrambot-notify","z":"995e2760.b2fbd","name":"Telegram Printer state Finished","bot":"","chatId":"12345678","message":"Printer state \"FINISHING\"","parseMode":"","x":590,"y":540,"wires":[]},{"id":"b1d8ec61.be19f8","type":"comment","z":"995e2760.b2fbd","name":"3D printer Monitor","info":"","x":140,"y":20,"wires":[]},{"id":"74a48dfe.431d1c","type":"throttle","z":"995e2760.b2fbd","name":"Max 1","throttleType":"block","timeLimit":"10","timeLimitType":"seconds","countLimit":"1","blockSize":"1","locked":false,"x":530,"y":200,"wires":[["4514ac70.28a364"]]},{"id":"9369237c.18f4d8","type":"function","z":"995e2760.b2fbd","name":"reset msg","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["74a48dfe.431d1c"]]},{"id":"1d9377f0.c4f35","type":"mqtt in","z":"995e2760.b2fbd","name":"octoPrint Progress","topic":"octoPrint/progress/#","qos":"0","datatype":"auto","broker":"23b20325.a7d1ec","x":150,"y":620,"wires":[["24a89a9b.8cba56"]]},{"id":"47dd2c58.05ac3c","type":"debug","z":"995e2760.b2fbd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":740,"wires":[]},{"id":"24a89a9b.8cba56","type":"json","z":"995e2760.b2fbd","name":"","property":"payload","action":"","pretty":false,"x":350,"y":620,"wires":[["aad95fda.a33c88","57c62d26.f8823c","4eba8a12.902e2c"]]},{"id":"aad95fda.a33c88","type":"debug","z":"995e2760.b2fbd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.printer_data.progress.printTimeLeft","targetType":"msg","x":310,"y":740,"wires":[]},{"id":"57c62d26.f8823c","type":"function","z":"995e2760.b2fbd","name":"Filter items of interest","func":"var msg1 ={};\nvar octpath = msg.payload.path;  //printing current drawing\nvar octstate = msg.payload.printer_data.state.text; // printer state\nvar octtimeleft = msg.payload.printer_data.progress.printTimeLeft; //ETA in seconds\n\nvar d=new Date();\nvar start_time=d.getTime()\n//node.warn(\"start_time = \"+start_time);\nvar octsec= Number(octtimeleft) // convert eta sec in nunmber\nvar octmin = (octsec /60).toFixed(2);\n\nvar future = start_time + (octsec * 1000); // current time + eta\nvar octeta = (new Date(future)).toLocaleString('nl-NL', { hour12:false });\n//Date(future).toLocaleTimeString('nl-NL', {hour: '2-digit', minute: '2-digit', hour12: false})\n\n//node.warn(\"tijd = \"+octeta);\n\nmsg1.payload = {\"command\":\"udevice\",\"idx\":2834,\"nvalue\":0,\"svalue\":\"Object: \"+octpath+\"<br> PrinterStatus: \"+ octstate +\"<br> PrintTimeLeft: \"+ octmin+\" min.<br>ETA: \"+octeta};\n//node.warn(\"2Domo = \"+msg1.payload);\n\nmsg.payload = {\n    Object1: octpath,\n    State: octstate,\n    TimeLeft:octtimeleft,\n    ETA:octeta\n};\nreturn [[msg1]]","outputs":1,"noerr":0,"x":560,"y":620,"wires":[["47dd2c58.05ac3c","cdc3837e.eed388"]]},{"id":"c1196962.4c1d28","type":"inject","z":"995e2760.b2fbd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":860,"wires":[["4e30d848.364c2"]]},{"id":"4e30d848.364c2","type":"function","z":"995e2760.b2fbd","name":"","func":"var d=new Date();\nvar start_time=d.getTime()\nnode.warn(\"start_time = \"+start_time);\n\nvar future = start_time + 3600000;\nvar tijd = (new Date(future)).toLocaleString('nl-NL', { hour12:false });\nnode.warn(\"tijd = \"+tijd);\n\n//var tijd2 = \n\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":880,"wires":[["39f16682.4dd89a"]]},{"id":"39f16682.4dd89a","type":"debug","z":"995e2760.b2fbd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":880,"wires":[]},{"id":"cdc3837e.eed388","type":"mqtt out","z":"995e2760.b2fbd","name":"","topic":"domoticz/in","qos":"2","retain":"false","broker":"bd507d3a.85126","x":650,"y":680,"wires":[]},{"id":"4eba8a12.902e2c","type":"debug","z":"995e2760.b2fbd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":250,"y":560,"wires":[]},{"id":"bf1b0bf8.0b5578","type":"inject","z":"995e2760.b2fbd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":200,"wires":[["9369237c.18f4d8"]]},{"id":"23b20325.a7d1ec","type":"mqtt-broker","z":"","name":"MQTT -Domoticz","broker":"Localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bd507d3a.85126","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]