SensorToUIflow.json
[{"id":"8c097bd3.eb5bb8","type":"tab","label":"DomoticzNijer","disabled":false,"info":""},{"id":"48d9157a.b56b7c","type":"mqtt in","z":"8c097bd3.eb5bb8","name":"DomototiczBroker","topic":"domoticz/out","qos":"0","datatype":"auto","broker":"9cf00047.12276","x":116,"y":164,"wires":[["e739451f.2635b","46d5b76e.1b8358"]]},{"id":"6ec8477f.22a078","type":"debug","z":"8c097bd3.eb5bb8","name":"DEbug","active":false,"tosidebar":true,"console":false,"complete":"payload","x":490,"y":540,"wires":[]},{"id":"e739451f.2635b","type":"json","z":"8c097bd3.eb5bb8","name":"","property":"payload","action":"","pretty":false,"x":150,"y":240,"wires":[["c491e0db.9eba68"]]},{"id":"38d7eb70.8c0ddc","type":"ui_chart","z":"8c097bd3.eb5bb8","name":"","group":"e9de71f7.def16","order":1,"width":3,"height":2,"label":"Solar","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":670,"y":220,"wires":[[]]},{"id":"c491e0db.9eba68","type":"switch","z":"8c097bd3.eb5bb8","name":"Switch","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"SolarEdge Totalproduced","vt":"str"},{"t":"eq","v":"Outside","vt":"str"},{"t":"eq","v":"OfficeFrank","vt":"str"},{"t":"eq","v":"FanControl","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":270,"y":240,"wires":[["c644aae8.059da"],["88eaf583.39b51"],["a22f063e.de4f5","6d62dd13.ec0d3c"],["d6f8272a.e42dc8","7ce67cc3.f4692c"]]},{"id":"c644aae8.059da","type":"change","z":"8c097bd3.eb5bb8","name":"Solar Opbrengst","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.svalue1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":220,"wires":[["38d7eb70.8c0ddc"]]},{"id":"6d62dd13.ec0d3c","type":"change","z":"8c097bd3.eb5bb8","name":"Temp Office","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.svalue1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":466,"y":282,"wires":[["adff0a92.f1818"]]},{"id":"adff0a92.f1818","type":"ui_gauge","z":"8c097bd3.eb5bb8","name":"","group":"e9de71f7.def16","order":4,"width":3,"height":2,"gtype":"gage","title":"Temp Office","label":"oC","format":"{{value}}","min":"-10","max":"40","colors":["#80ffff","#ff8040","#ca3838"],"seg1":"16","seg2":"25","x":686.5,"y":282,"wires":[]},{"id":"88eaf583.39b51","type":"change","z":"8c097bd3.eb5bb8","name":"Temp Outside","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.svalue1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":340,"wires":[["d918caab.17c1e8"]]},{"id":"a22f063e.de4f5","type":"change","z":"8c097bd3.eb5bb8","name":"Hygro Outside","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.svalue2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":400,"wires":[["d9344a55.7d9fa8"]]},{"id":"d918caab.17c1e8","type":"ui_gauge","z":"8c097bd3.eb5bb8","name":"","group":"e9de71f7.def16","order":8,"width":3,"height":2,"gtype":"gage","title":"Temp Outside","label":"oC","format":"{{value}}","min":"-10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":340,"wires":[]},{"id":"d9344a55.7d9fa8","type":"ui_gauge","z":"8c097bd3.eb5bb8","name":"","group":"e9de71f7.def16","order":9,"width":3,"height":2,"gtype":"gage","title":"Hygro outside","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":400,"wires":[]},{"id":"46d5b76e.1b8358","type":"debug","z":"8c097bd3.eb5bb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":140,"wires":[]},{"id":"6585f920.a7727","type":"mqtt out","z":"8c097bd3.eb5bb8","name":"","topic":"FanControl","qos":"","retain":"","broker":"dbd74e4b.90b4c","x":690,"y":460,"wires":[]},{"id":"f6060ef1.198aa8","type":"change","z":"8c097bd3.eb5bb8","name":"FanControl Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.svalue1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":460,"wires":[["6585f920.a7727","6ec8477f.22a078"]]},{"id":"d6f8272a.e42dc8","type":"debug","z":"8c097bd3.eb5bb8","name":"in1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.svalue1","targetType":"msg","x":230,"y":380,"wires":[]},{"id":"7ce67cc3.f4692c","type":"range","z":"8c097bd3.eb5bb8","minin":"0","maxin":"100","minout":"0","maxout":"1024","action":"scale","round":true,"property":"payload.svalue1","name":"map 100 to 1024","x":270,"y":460,"wires":[["f6060ef1.198aa8","1b5c1f84.946a4"]]},{"id":"1b5c1f84.946a4","type":"debug","z":"8c097bd3.eb5bb8","name":"in2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.svalue1","targetType":"msg","x":250,"y":540,"wires":[]},{"id":"965f50b1.19db4","type":"switch","z":"8c097bd3.eb5bb8","name":"","property":"payload.svalue","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":620,"wires":[["40e70f97.9f28f"]]},{"id":"40e70f97.9f28f","type":"change","z":"8c097bd3.eb5bb8","name":"AirQuality","rules":[{"t":"set","p":"payload.nvalue","pt":"msg","to":"payload.svalue","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":700,"wires":[["7a31cc7e.e8447c"]]},{"id":"f0d833e0.926838","type":"debug","z":"8c097bd3.eb5bb8","name":"air","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":760,"wires":[]},{"id":"9882f1d5.5197d","type":"json","z":"8c097bd3.eb5bb8","name":"","property":"payload","action":"","pretty":false,"x":240,"y":620,"wires":[["313d5c6a.5aaa1c"]]},{"id":"313d5c6a.5aaa1c","type":"switch","z":"8c097bd3.eb5bb8","name":"Switch","property":"payload.idx","propertyType":"msg","rules":[{"t":"eq","v":"4095","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":380,"y":620,"wires":[["965f50b1.19db4","da6205eb.aa0738"]]},{"id":"da6205eb.aa0738","type":"debug","z":"8c097bd3.eb5bb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":660,"wires":[]},{"id":"7a31cc7e.e8447c","type":"change","z":"8c097bd3.eb5bb8","name":"","rules":[{"t":"delete","p":"payload.svalue","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":760,"wires":[["f0d833e0.926838"]]},{"id":"9cf00047.12276","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e9de71f7.def16","type":"ui_group","z":"","name":"Group","tab":"2eb63c58.2d218c","order":1,"disp":true,"width":"12","collapse":true},{"id":"dbd74e4b.90b4c","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2eb63c58.2d218c","type":"ui_tab","z":"","name":"Nijer's House","icon":"dashboard","order":1,"disabled":false,"hidden":false}]