SwitchAanopMQTT.json
[{"id":"52f519301e8bd815","type":"tab","label":"Switch aan op MQTT bericht","disabled":false,"info":"","env":[]},{"id":"b2ae2bb30a0a70dc","type":"mqtt in","z":"52f519301e8bd815","name":"","topic":"domoticz/out","qos":"0","datatype":"auto","broker":"f615bf0e7f3f4169","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":120,"wires":[["a46f5fad9aa87abf","ffe824a6c968c085"]]},{"id":"63f4e6aefb6e6956","type":"mqtt out","z":"52f519301e8bd815","name":"domoticz/in","topic":"domoticz/in","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f615bf0e7f3f4169","x":450,"y":200,"wires":[]},{"id":"76116923e9b491ef","type":"switch","z":"52f519301e8bd815","name":"Filter op IDX 2028","property":"payload.idx","propertyType":"msg","rules":[{"t":"eq","v":"2028","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":120,"wires":[["bef93e555e69c944"]]},{"id":"bef93e555e69c944","type":"function","z":"52f519301e8bd815","name":"Switch On light","func":"msg.payload = {\"command\": \"switchlight\", \"idx\": 118, \"switchcmd\": \"On\" }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":200,"wires":[["63f4e6aefb6e6956"]]},{"id":"a46f5fad9aa87abf","type":"json","z":"52f519301e8bd815","name":"","property":"payload","action":"","pretty":false,"x":310,"y":120,"wires":[["76116923e9b491ef"]]},{"id":"ffe824a6c968c085","type":"debug","z":"52f519301e8bd815","name":"Ruw","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":60,"wires":[]},{"id":"f615bf0e7f3f4169","type":"mqtt-broker","name":"MQTT client topic Domoticz","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]